HELP.md
target/
!.mvn/wrapper
!**/src/main/**/target/
!**/src/test/**/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/
/storage/images/0fc652d2-d32c-48f9-a9d5-4f09716baef6
/storage/images/7bf1f28a-3e9b-4911-9c8b-526a7742f50c
/storage/images/847e782c-6f56-499e-b735-a70fc41b45b5
/storage/images/aee128c2-af45-4295-872a-44648d000412
/storage/images/ca31c76a-9e31-4c09-89f0-22de33a8f8dc
/storage/images/e09b9a67-ca00-4624-9529-88a9c6059f55
