body{
    margin:0;
    padding:0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
::-webkit-scrollbar {
    width: 10px;
}
::-webkit-scrollbar-track {
    box-shadow: 5px 5px 5px -5px rgba(34, 60, 80, 0.2) inset;
    background-color: #f9f9fd;
    border-radius: 10px;
}
::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: linear-gradient(180deg,#8ab4f0, #611d7e);
}
.header{
    position:fixed;
    background-color: #fff;
    width:100%;
    height: 72px;
    box-shadow: 0 0 16px rgba(65,5,90,0.32);
    margin-bottom:72px;
    z-index:10;
}
.home, .courses, .button{
    margin-top:17px;
}
.home button, .courses button{
    border: none;
    background-color: transparent;
    cursor:pointer;
}
.profile{
    float:right;
}
.profile button{
    height:50px;
    width:50px;
    display: flex;
    background-color: transparent;
    background-image: url("/users/me/avatar");
    background-size: 120%;
    border:none;
    background-position: center;
    margin-top:7px;
}
.button{
    height: 40px;
    width:auto;
    border-radius: 10px;
    text-align: center;
    color: #fff;
    font-size:15px;
    border: none;
    padding-right:20px;
    padding-left:20px;
    cursor:pointer;
}
.fiolet{
    background-color: #41055A;
}
.fiolet:hover{
    background-color: #5d0981;
}
.fiolet:active{
    background-color: #320546;
}
.blue{
    background-color: #3880E8;
}
.blue:hover{
    background-color: #5098fc;
}
.blue:active{
    background-color: #27589c;
}
.plus{
    height:60px;
    width:60px;
    display:flex;
    justify-content:center;
    border-radius: 15px;
    float:right;
    background-image: url("/pictures/plus.svg");
    background-size: 60%;
    background-repeat: no-repeat;
    background-position: center;
}
.plus2{
    height:40px;
    width:40px;
    display:flex;
    justify-content:center;
    border-radius: 10px;
    float:right;
    margin-right:30px;
    margin-bottom:50px;
    background-image: url("/pictures/plus2.svg");
    background-size: 60%;
    background-repeat: no-repeat;
    background-position: center;
}
.main{
    background-color: #fff;
}
.img_course{
    width:100%;
    height: 500px;
    background-image: url("/pictures/Lpgc8I.jpg");
    background-position: center;
    box-shadow: 1px 3px 4px rgba(117, 117, 117, 0.25);
    background-size: 100%;
    margin: 70px 0px 50px 0px;
}
.user_img{
    width:80%;
    height:260px;
    background: #D2D0D0;
    background-image: url("/users/me/avatar");
    background-position: center;
    background-size: 100%;
    box-shadow: 1px 4px 5px rgba(56, 128, 232, 0.5);
    border:1px solid #f3f1f1;
    border-radius:20px;
    margin:20px 0px 0px 0px;
}
.user_img > input{
    height:10px;
    width:100%;
    background: transparent;
}
.title{
    font-style: normal;
    font-weight: 500;
    font-size: 40px;
    line-height: 40px;
    align-items: center;
    text-align: center;
    color: #000000;
    margin:0px auto 30px; 
    padding-top:120px;
}
.lesson_title{
    height:70px;
    width:90%;
    border-bottom: 2px solid #41055A;
    margin: 100px auto 10px -2px;
    text-align: left;
    font-size:35px;
    font-style: normal;
    font-weight: 500;
    line-height: 40px;
    color: #000000;
    padding-left:20px;
}
.author_lesson{
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
    align-items: center;
    color: #000000;
    font-style:italic;
    padding-bottom:10px;
}
.search, .after_hat{
    height: 60px;
}
.after_hat{
    height:60px;
}
.search_form {
	width: auto;
    display:flex;
    height:40px;
	background-color: #fff;
    box-shadow: 1px 3px 4px rgba(78, 7, 109, 0.25);
    border-radius: 20px;
    border:1px solid #f3f1f1;
}
.search button{
    margin:auto;
}
.search_form input{
    margin:auto 20px;
	border: none;
	outline: none;
	background: transparent;
	width: 100%;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	line-height: 24px;
	color:#41055A;
	opacity: 0.8;
}
.filter_sorts{
    margin-bottom:50px;
}
.filter_sorts label{
    margin:0 6% 2px 3%;
    font-size:12px;
    color:#9e9d9e;
}
.filter_sorts select{
    margin-left:20px;
    width:10vw;
    height:3vh;
    background-color: #fff;
    box-shadow: 1px 3px 4px rgba(78, 7, 109, 0.25);
    border-radius: 6px;
    border:1px solid #f3f1f1;
    outline:none;
}
.filter_sorts button{
    width:20px;
    height:20px;
    background-image: url("/pictures/reload.svg");
    background-size: 100%;
    background-repeat: no-repeat;
    border:none;
    background-color: transparent;
    margin-left:1vw;
}
.main_body{
	display: flex;
	flex-wrap: wrap;
    margin-top:5%;
}
.card{
    height: 400px;
    margin-bottom:16px;
    background: #FFFFFF;
    border:1px solid #f3f1f1;
    box-shadow: 1px 4px 5px rgba(81, 146, 236, 0.3);
    border-radius: 20px;
}
.card:hover{
    box-shadow: 2px 4px 12px rgba(56, 128, 232, 0.8);
    transition: box-shadow 0.3s ease 0s;
}
.card img{
    width:100%;
    height:240px;
    border-top-left-radius:20px;
    border-top-right-radius:20px;
}
.course_title{
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 20px;
    text-align: center;
    color: #000000;
}
.course_author{
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    color: #000000;
    margin: -4px auto 0px 18px;
}
.card button{
    margin-right: 10%;
    float:right;
}
.text_lesson{
    height: auto;
    width:90%;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
    align-items: center;
    color: #000000;
}
.text_lesson > p{
    margin-top:10px;
}
.content_course{
    margin-top:19px;
    height:50px;
    width:40%;
    background: #FFFFFF;
    margin:17px 0px;
    display:flex;
}
.topmenu{
    list-style: none; 
    margin: auto;
    font-style: normal;
    position:relative;
    width: 100%;
    height: 100%;
}
.topmenu a{
    text-decoration: none;
    font-size:18px;
    height:38px;
    color:#41055A;
    font-weight: 500;
    display:flex;
}
.topmenu a>div{
    margin:auto 4px;
}
.topmenu img{
    height:38px;
    margin-right:8px;
}
.submenu {
    position:absolute;
    width: 100%;
    height:auto;
    border-radius:10px;
    z-index:10;
    -webkit-transition: opacity, visibility 0.5s ease-in-out;
    -moz-transition: opacity, visibility 0.5s ease-in-out;
    -o-transition: opacity, visibility 0.5s ease-in-out;
    transition: opacity, visibility  0.5s ease-in-out;
    list-style: none;
    visibility: hidden;
    opacity: 0;
    background: #41055A;
    border: 1px solid #1c0227;
    margin-left: -110px;
    padding:5px 10px;
    margin-top: 2%;
}
ul li:hover .submenu {
    visibility: visible;
    opacity: 1;
}
.submenu li{
    color:#fff;
    font-size:16px;
    font-weight: 500;
    display: block;
    outline: none;
    margin:0px auto -12px;
}
.submenu li li:hover a{
    color: #9e9d9e;
}
.submenu li li a{
    color:#fff;
    font-size:16px;
    font-weight: 500;
}
.important_block{
    width:100%;
    height: 300px;
    background: #FFFFFF;
    border:1px solid #f3f1f1;
    box-shadow: 1px 3px 4px rgba(78, 7, 109, 0.25);
    border-radius: 20px;
    margin-top:120px;
    margin-bottom:20px;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 22px;
    text-align: center;
    color: #000000;
    padding:20px;
}
.file_block{
    width:100%;
    height: 220px;
    background: #FFFFFF;
    border:1px solid #f3f1f1;
    box-shadow: 1px 4px 5px rgba(81, 146, 236, 0.3);
    border-radius: 10px;
    padding:10px;
    overflow-y: scroll;
    overflow-x: hidden;
}
.file_block label{
    font-style: normal;
    font-weight: bold;
    font-size: 22px;
    line-height: 30px;
    text-align: center;
    color: #3880E8;
    margin:0px 25%;
}
.file_block ul{
    width:90%;
    margin:0px;
    list-style: none;
}
.file_block li>a{
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    text-decoration: none;
    line-height: 26px;
    color: #000000;
    margin:5px;
    text-align: left;
}
.file_block li:hover>a{
    color: #747272;
}
.name, .info, .table_block{
    height:auto;
    margin:20px auto 10px auto;
    width:100%;
}
.label{
    font-style: normal;
    font-weight: 500;
    font-size: 22px;
    line-height: 24px;
    margin-bottom:15px;
    margin-left:10px;
}
.text, .course_tree{
    width: 100%;
    height: auto;
    min-height: 40px;
    background: #FFFFFF;
    border-radius: 10px;
    border:1px solid #f3f1f1;
    box-shadow: 1px 3px 4px rgba(78, 7, 109, 0.25);
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	line-height: 26px;
	color:#41055A;
    display:flex;
}

.treeline, .treeline ul, .treeline li {
    margin:0px; 
    padding: 0; 
    list-style: none;
}
.treeline{
    margin:1% 5%;
}
.treeline ul{
    margin: 0 0 0 30px;
}
.treeline > li:not(:only-child), .treeline li li {
    position: relative;
    padding: 3px 0 0 20px;
}

 .treeline li:not(:last-child){ 
    border-left: 1px solid #41055A;
}
.treeline li li:before, .treeline > li:not(:only-child):before {
    content: ""; 
    position: absolute;
    top: 0; 
    left: 0;
    width: 1.1em; 
    height: .7em; 
    border-bottom:1px solid #41055A;
}
.treeline li:last-child:before {
    width: calc(1.1em - 1px); 
    border-left: 1px solid #41055A;
}
.text p{
    margin:10px;
}
.table_block > .button_save{
    width:100%;
}
.table{
    width:100%;
    height:auto;
    background-color:#fff;
    border:1px solid #f3f1f1;
    box-shadow: 1px 3px 4px rgba(78, 7, 109, 0.25);
    color:#41055A;
    font-size:17px;
    line-height: 44px;
    font-weight: 500;
    border-spacing: 0;
    text-align: left;
    border-radius: 20px;
    padding:5px 0px;
    margin-bottom: -5px;
}
.table td, .table th{
    padding-left: 20px;
    border-bottom: 1px solid #41055A;
}
.table tr:last-of-type td{
    border-bottom: none;
}
.table_title th{
    border-bottom: 1px solid #41055A;
}
.table_body button{
    margin-bottom:10px;
    width:auto;
}
.table button{
    float:left;
}
.footer_light{
    height:100px;
    background-color:#fff;
    margin-top:30px;
}
.comment{
    width:100%;
    height:100px;
    border-top: 2px solid #41055A;
    display:flex;
    margin-left: -22px;
}
.ready {
    width:100%;
    height:100px;
    border-top: 2px solid #41055A;
    display:flex;
    margin-left: -40px;
}
.comment a, .ready a{
    width:auto;
    margin:10px 30px;
}
.arrows{
    width:110%;
    height:100px;
    border-top: 2px solid #41055A;
    margin-left:-57px;
    display: flex;
    padding-left: 50px;
}
.arrows button{
    width: 40px;
    height: 40px;
    border-radius:10px;
    border:none;
    color:#FFF;
    margin:30px 10px;
}
.arrow{
    width: 40px;
    height: 40px;
    border-radius:10px;
    border:none;
    margin-right: 20px;
    margin-top:10vh;
}
.footer{
    height:100px;
    background-color:#1d0229;
    margin-top:50px;
    padding:20px;
}
.footer_label{
    font-size:30px;
    line-height:30px;
    color:#FFF;
    height:100%;
    margin:auto 40%;
}
.faq{
    height:100%;
    margin-left: 10px;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 30px;
    display: flex;
    color: #E0DEDE;
    border-right: 2px solid #E0DEDE;
}
.error{
    color:#3880E8;
    font-size: 40px;
    font-weight: 500;
    text-align: center;
    margin-top:60px;
}
.search_error img{
    width:500px;
    margin-left: 100px;
}
.error_img img{
    margin-top:90px;
    margin-left: -30px;
    width:600px;
    height:530px;
}
.text_error{
    color:#5098fc;
    margin-top:250px;
    text-align: center;
}
.text_error h1{
    font-size: 60px;
}
.text_error h3{
    font-size: 40px;
}
.linear{
    margin:20px;
    float:right;
    background: linear-gradient(270deg,#8ab4f0, #611d7e);
}
.linear:hover{
    background: linear-gradient(270deg,#b1ccf3, #b95ee0);
}
.exit_button button, .login_button button, .users button{
    background-image: url("/pictures/log-out.svg");
    background-size: 90%;
    background-repeat: no-repeat;
    height:40px;
    width:40px;
    margin-top:20px;
    cursor: pointer;
    background-color:#fff;
    border:none;
    margin-left: 10px;
}
.login_button button{
    background-image: url("/pictures/log-in.svg");
    background-size: 85%;
    margin-top:20px;
}
.users button{
    background-image: url("/pictures/contacts.png");
    margin-top:22px;
    margin-left:7px;
    background-color:#fff;
    border:none;
}
.card .blue{
    margin-left: -10px;
}
.profile{
    margin-left:40px;
}
.main_body a{
    text-decoration: none;
}
.settings{
    border:none;
    width:35px;
    height:35px;
    background-color: #fff;
    margin:20px;
    cursor:pointer;
    background-image: url("/pictures/settings.svg");
}
.file_upload{
    position: relative;
    overflow: hidden;
    display:flex;
    width:40px;
    height:60px;
    margin:240px 20px 0px -20px;
}
.file_upload input[type=file]{
    position: absolute;
    width: 100%;
    height: 100%;
    transform: scale(20);
    opacity: 0;
    cursor: pointer
}
.wraper{
    column-count: 3;
    column-gap: 0.3;
    padding: 20px;
}
.card_news{
    width:auto;
    height:auto;
    margin-bottom:16px;
    background: #FFFFFF;
    border:1px solid #d4d4d4;
    border-radius:20px;
    padding:10px;
    break-inside:avoid;
}
.card_news:hover{
    box-shadow: 2px 4px 12px rgba(78, 7, 109, 0.25);
    transition: box-shadow 0.3s ease 0s;
}
.tegs{
    display:flex;
    color:#27589c;
    justify-content:flex-start;
}
.tegs a{
    cursor: pointer;
    margin-right:7px;
}
.content{
    font-size: 16px;
    padding:5px 0;
}
.info_news{
    display:flex;
    justify-content:space-between;
    margin:10px 0;
}
.date,.author{
    color:#666565;
}

@media screen and (max-width:770px) and (min-width:320px){ 
    .container{width: 97vw; max-width:100%}
}
