<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>Add_user</title>
  <link rel="stylesheet" href="https://unpkg.com/flexboxgrid2@7.2.1/flexboxgrid2.min.css">
  <link rel="stylesheet" th:href="@{/style_window.css}">
  <link rel="stylesheet" th:href="@{/static/style.css}">
  <link rel="stylesheet" media="screen and (max-width:576px) and (min-width:320px)" th:href="@{/style_window.css}">
</head>
<body>
    <div class="container">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="window">
                <div class="row">
                    <a class="close" th:href="@{/courses}"><button><img src="/pictures/крестик.svg"></button></a>
                </div>
                <div class="row">
                    <div class="title_form">
                        <label>Добавить пользователя</label>
                    </div>
                </div>
                <form th:method="post" th:action="@{/courses/{courseId}/assign(courseId = ${courseId})}">
                    <div class="row">
                        <div class="name_user">
                            <div class="label_input">Имя пользователя</div>
                            <select class="form_input" id="userId" name="userId" required >
                                <option th:each="user :${users}"
                                        th:value="${user.id}"
                                        th:text="${user.email}"> username</option>
                              </select>
                        </div>
                    </div>
                    <div class="row">
                        <div class="button_save">
                            <button class="button fiolet" type="submit">Сохранить</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</body>