<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Course_page</title>
  <link rel="stylesheet" href="https://unpkg.com/flexboxgrid2@7.2.1/flexboxgrid2.min.css">
  <link rel="stylesheet" href="../static/style.css">
  <link rel="stylesheet" media="screen and (max-width:576px) and (min-width:320px)" href="../static/style.css">
</head>
<body>
    <header class="header">
        <div class="container">
            <div class="row">
               <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1">
                    <div class="home">
                        <a href="my_courses.html"><button><img src="static/pictures/Vector.png"></button></a>
                    </div> 
               </div>
               <div class="col-lg-9 col-md-9 col-sm-9 col-xs-9">     
                    <div class="courses">
                        <a href="courses.html"><button><img src="static/pictures/icons8-курсы-96 2.png"></button></a>
                    </div>
               </div>
               <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
                    <div class="profile">
                        <a href="profile.html"><button></button></a>
                    </div> 
                </div>
            </div>
        </div>
    </header>
    <main>
        <div style="width:99.5%;">
            <div class="row">
                <div class="img_course"></div>
             </div>
        </div>
        <div class="container">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="row">
                    <h2 class="title" style="margin:auto;">Название курса</h2>
                </div>
                <div class="row">
                    <div class="info">
                        <div class="label">Информация</div>
                        <div class="text"><p>В курсе рассматриваются массивы, функции, объекты и многое другое в языке JS. Используется новейшая версия языка.
                                             Курс разбит на 3 модуля с теоретическими и практическими материалами, а также заданиями.(сотри потом, прост тест)</p></div>
                    </div>
                </div>
                <div class="row">
                    <div style="width: 99%;">
                        <a href="edit_course.html"><button class="button fiolet" style="float:right">Редактировать</button></a>
                    </div>
                </div>
                <div class="row">
                    <div class="label">Содержание</div>
                    <div class="course_tree">
                        <ul class="treeline">
                            <li>Введение в JavaScript
                                <ul>
                                    <li>История языка</li>
                                    <li>Внедрение языка, структура программ, комментарии</li>
                                </ul>
                            </li>
                            <li>Стандартные объекты JavaScript
                                <ul>
                                    <li>Функции</li>
                                    <li>Объекты</li>
                                </ul>
                            </li>
                            <li>Работа с HTML
                                <ul>
                                    <li>DOM-дерево</li>
                                    <li>JQuery</li>
                                </ul>
                            </li>
                         </ul>
                    </div>
                </div>
                <div class="row">
                    <div style="width: 100%;">
                        <a href="edit_module.html"><button class="button blue plus2" style="float:right"></button></a>
                    </div>
                </div>
                <div class="table_block">
                    <div class="label">Пользователи</div>
                    <div class="row">
                        <table class="table">
                            <tr class="table_title">
                                <th>Id</th>
                                <th>Название</th>
                                <th>Action</th>
                            </tr>
                            <tr class="table_body">
                                <td>1</td>
                                <td>Бахтин Антон</td>
                                <td>
                                    <a href="#"><button class="button fiolet">Открыть</button></a>
                                </td>
                            </tr>
                            <tr class="table_body">
                                <td>2</td>
                                <td>Башилова Наталья</td>
                                <td>
                                    <a href="#"><button class="button fiolet">Открыть</button></a>
                                </td>
                            </tr>
                            <tr>
                                <td>No data</td>
                            </tr>
                        </table>
                    </div>
                </div>
                <div class="row">
                    <div style="width: 100%;">
                        <a href="assign_course.html"><button class="button blue plus2" style="float:right"></button></a>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <footer class="footer">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
                    <div class="faq">Помощь</div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
                    <div class="faq">Контакты</div>
                </div>
                <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10">
                    <p class="footer_label">Знания-сила!</p>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
                    <div class="faq">Оставить отзыв</div>
                </div>
            </div>
        </div>
    </footer>
</body>
</html>