<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Course_page</title>
  <link rel="stylesheet" href="https://unpkg.com/flexboxgrid2@7.2.1/flexboxgrid2.min.css">
  <link rel="stylesheet" th:href="@{/style.css}">
  <link rel="stylesheet" media="screen and (max-width:576px) and (min-width:320px)" th:href="@{/style.css}">
</head>
<body>
    <header class="header" th:replace="fragments/fragment :: header"></header>

    <main th:object="${courseDto}">
        <div style="width:99.5%;">
            <div class="row">
                <div class="img_course"><img class="img_course" th:src="@{/courses/{id}/avatar (id = ${courseDto.getId()})}"></div>
             </div>
        </div>
        <div class="container">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="row">
                    <h2 class="title" th:text="*{title}" style="margin:auto;">Название курса</h2>
                </div>
                <div class="row">
                    <div class="info">
                        <div class="label">Информация</div>
                        <div class="text" th:text="*{title}"><p>В курсе рассматриваются массивы, функции, объекты и многое другое в языке JS. Используется новейшая версия языка.
                                             Курс разбит на 3 модуля с теоретическими и практическими материалами, а также заданиями.(сотри потом, прост тест)</p></div>
                    </div>
                </div>

                <div class="row">
                    <div class="label">Содержание</div>
                    <li class="course_tree">
                        <ul class="treeline">
                            <li th:each="module:${moduleTreeTree}">
                                <div th:text="${module.getTitle()}"></div>

                                    <ul>
                                        <li th:each="topic:${module.getTopics()}">
                                            <div >
                                                <a th:text="${topic.getTitle()}" th:href="@{/courses/{course_id}/modules/{module_id}/topics/{lesson_id} (course_id = ${courseDto.id}, module_id=${module.getId()}, lesson_id = ${topic.getId()})}"> </a></div>

                                        </li>
                                    </ul>
                            </li>
                         </ul>
                    </div>
                </div>
<!--                <div class="row">-->
<!--                    <div style="width: 100%;">-->
<!--                        <a href="edit_module.html"><button class="button blue plus2" style="float:right"></button></a>-->
<!--                    </div>-->
<!--                </div>-->
                <div class="table_block" th:if="${assigned}">
                    <div class="label">Прогресс</div>
                    <div  class="course_tree">
                         <p class="padd" th:text="${stat}">fsdfdsfdsf</p>
                    </div>
                </div>
                <div sec:authorize="!hasRole('ADMIN')" class="table_block">
                    <div class="label">Обучение</div>
                    <a th:unless="${assigned}"
                       th:href = "@{/courses/{id}/assign(id = ${courseDto.id})}">
                        <button type="submit" class="button blue">Учиться!</button>
                    </a>
                    <a th:if="${assigned}"
                       th:href = "@{/courses/{id}/unassign(id = ${courseDto.id})}">
                        <button type="submit" class="button blue">Покинуть курс</button>
                    </a>
                </div>
            </div>
        </div>
    </main>
    <footer class="footer">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
                    <div class="faq">Помощь</div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
                    <div class="faq">Контакты</div>
                </div>
                <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10">
                    <p class="footer_label">Знания-сила!</p>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
                    <div class="faq">Оставить отзыв</div>
                </div>
            </div>
        </div>
    </footer>
</body>
</html>