<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Course_info</title>
  <link rel="stylesheet" href="https://unpkg.com/flexboxgrid2@7.2.1/flexboxgrid2.min.css">
  <link rel="stylesheet" th:href="@{/style_window.css}">
  <link rel="stylesheet" media="screen and (max-width:576px) and (min-width:320px)" th:href="@{/style_window.css}">
</head>
<body>
    <div class="page">
        <div class="container">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">

                <div class="row">
                    <a class="close" th:href="@{/admin/courses}"><button ><img src="/pictures/крестик.svg"></button></a>
                </div>

                <form th:object="${courseDto}" th:method="post" th:action="@{/admin/courses}">
                    <div class="row">
                        <div class="title_form">
                            <label>Информация о курсе</label>
                        </div>
                    </div>
                    <input type="hidden" th:field="*{id}">
                    <div class="row">
                        <div class="name_course">
                            <div for="title" class="label_input">Название курса</div>
                            <input class="form_input" type="text" th:field="*{title}">
                            <small class="validation-error" th:if="${#fields.hasErrors('title')}" th:errors="*{title}"> </small>
                        </div>
                    </div>
                    <div class="row">
                        <div class="name_user">
                            <div class="label_input">Автор курса</div>
                            <input class="form_input" type="text" th:field="*{author}">
                            <small class="validation-error" th:if="${#fields.hasErrors('author')}" th:errors="*{author}"> </small>
                        </div>
                    </div>
                    <div class="row">
                        <div class="info_block">
                            <div class="label_input">Информация</div>
                            <textarea class="form_input"></textarea>
                        </div>
                    </div>
                    <div class="row">
                        <div class="button_save">
                            <a href="#"><button type="submit" class="button fiolet">Сохранить</button></a>
                        </div>
                    </div>
                </form>
                <form th:method="post" th:action="@{/admin/courses/{course_id}/avatar (course_id = ${courseDto.id})}" enctype="multipart/form-data">
                <div class="row" th:unless="${courseDto.id == null}">

                        <div class="file">
                            <div class="label_input">Обложка</div>
                                <div class="file_upload form_input">
                                    <div>Файл</div>
                                    <button>Выбрать</button>
                                    <input type="file" name="cover">
                                </div>
                        </div>
                    </div>
                    <div class="row" th:unless="${courseDto.id == null}">
                        <div class="button_save">
                            <button type="submit" class="button fiolet">Обновить</button>
                        </div>
                    </div>
                </form>
                <div th:unless="${modules == null}">
                    <div class="table_block">
                        <div class="label_input">Модули</div>
                        <div class="row" th:unless="${modules.empty}">
                            <table class="table">
                                <tr class="table_title">
                                    <th>Id</th>
                                    <th>Название</th>
                                    <th>Action</th>
                                </tr>
                                <tr class="table_body" th:each="module:${modules}">
                                    <td th:text="${module.id}">1</td>
                                    <td th:text="${module.title}">Верстка</td>
                                    <td>
                                        <form th:method="delete" th:action="@{/admin/modules/{id}(id = ${module.id})}">
                                            <button type="submit" class="button fiolet">Удалить</button>
                                        </form>
                                    </td>
                                </tr>
                            </table>
                        </div>
                        <div class="error" th:if="${modules.empty}">
                            <div>Модули отсуствуют. Создайте первый модуль!</div>
                        </div>
                    </div>
                    <div class="row" >
                        <div class="button_save">
                            <a th:href="@{/admin/modules/new (courseId = ${courseDto.id})}">
                                <input type="hidden" name="course_id" th:value="${courseDto.id}"/>
                                <button type="submit" class="button fiolet">Добавить</button>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="row hide" id="structure" th:unless="${courseDto.id == null}">
                    <div class="label_input">Содержание</div>
                    <div class="tree">
                        <ul class="treeline">
                            <li>Введение в JavaScript
                                <ul>
                                    <li>История языка</li>
                                    <li>Внедрение языка, структура программ, комментарии</li>
                                </ul>
                            </li>
                            <li>Стандартные объекты JavaScript
                                <ul>
                                    <li>Функции</li>
                                    <li>Объекты</li>
                                </ul>
                            </li>
                            <li>Работа с HTML
                                <ul>
                                    <li>DOM-дерево</li>
                                    <li>JQuery</li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="row" style="justify-content: center;">
                    <button class="button fiolet" type="button" id="btn_struct">Структура курса</button>
                </div>
                <div th:unless="${users == null}">
                    <div class="table_block">
                        <div class="label_input">Пользователи</div>
                        <div class="row" th:unless="${users.empty}">
                            <table class="table">
                                <tr class="table_title">
                                    <th>Id</th>
                                    <th>Имя</th>
                                    <th>Action</th>
                                </tr>
                                <tr class="table_body" th:each="user:${users}">
                                    <td th:text="${user.id}"></td>
                                    <td th:text="${user.username}"></td>
                                    <td>
                                        <form th:method="post" th:action="@{/admin/courses/{id}/unassign(id = ${courseDto.id})}">
                                            <input type="hidden" th:name="userId" th:value="${user.id}">
                                            <button type="submit" class="button fiolet">Снять с курса</button>
                                        </form>
                                    </td>
                                </tr>
                            </table>
                        </div>
                        <div class="error" th:if="${users.empty}">
                            <div>Сейчас нет подписанных пользователей. Назначьте курс какому-нибудь участнику!</div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="button_save">
                            <a href="assign_course.html"><button class="button fiolet">Добавить</button></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="../script.js"></script>
</body>