<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{/bootstrap.min.css}">
    <title>Редактировать профиль</title>
</head>
<body>
<header th:replace="fragments/header :: header"></header>
<div class="d-flex flex-row justify-content-center min-vh-100" style="background: #1a1e21">
    <div class="w-25 my-5 p-5 h-auto" style="background: #f0f0f0">
        <h1 class="text-center">Редактировать профиль</h1>
        <form th:object="${user}" th:method="post" th:action="@{/user}">
            <input type="hidden" th:field="*{id}">
            <div class="my-6 mx-3">
                <div class="form-group mb-4">
                    <label class="mb-2" for="username">Имя пользователя</label>
                    <input readonly class="form-control" type="text" id="username" th:field="*{username}">
                    <label class="mb-2" for="password">Пароль</label>
                    <input type="password" placeholder="password" class="form-control" id="password"
                           th:field="*{password}">
                    <label th:if="${#fields.hasErrors('password')}" th:errors="*{password}"
                           style="font-size: small; color: #bb2d3b">Пароль не может быть пустым</label>
                </div>
            </div>
            <div class="form-group" sec:authorize="hasRole('ADMIN')">
                <label for="roles">Роли</label>
                <select multiple class="form-control" id="roles" th:field="*{roles}" required>
                    <option th:each="role : ${roles}"
                            th:text="${role.name}"
                            th:value="${role.id}"
                            th:selected="${user.roles?.contains(role)}"></option>
                </select>
            </div>
            <button class="btn mt-2" type="submit" style="background: #0dcaf0">Сохранить</button>
        </form>
        <form th:if="${#authentication.principal.username.equals(user.username)}"
              th:method="post" th:action="@{/user/me/avatar}" enctype="multipart/form-data">
            <div class="form-group mb-4 mt-2 d-flex flex-column">
                <label class="mb-2" for="avatar">Аватар</label>
                <img class="mb-2" th:src="@{/user/me/avatar}" width="100">
                <input type="file" class="form-control" id="avatar" name="avatar">
                <label class="text-black-50" style="font-size: small">Поддерживаются файлы формата: jpg,
                    png</label>
            </div>
            <button class="btn mt-2" type="submit" style="background: #0dcaf0">Обновить аватар</button>
            <form th:if="${user.hasAvatarImage}" th:method="delete" th:action="@{/user/me/avatar}">
                <button class="btn mt-2" type="submit" style="background: #0dcaf0">
                    Удалить аватар
                </button>
            </form>
        </form>
    </div>
</div>

<script th:href="@{/bootstrap.bundle.min.js}"></script>
</body>
</html>