<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>

<form th:action="@{/news}" th:method="post" th:object="${news}">
  <input type="hidden"  class="form-control" th:field="*{id}"/> <br>
  <input type="text"  class="form-control" th:field="*{title}"   placeholder="Введите название статьи:"/> <br>
  <textarea type="text"  class="form-control" th:field="*{text}" placeholder="Введите полный текст статьи"></textarea> <br>
<!--  <input type="text"  class="form-control" th:field="*{}"   placeholder="Введите название статьи:"/> <br>-->
  <button type="submit" class="button button-submit">Добавить</button>
</form>

</body>
</html>