<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{/bootstrap.min.css}">
    <title>Курс не найден</title>
</head>
<body>
<header th:replace="fragments/header :: header"></header>
<div class="d-flex flex-row justify-content-center min-vh-100" style="background: #1a1e21">
    <div class="w-25 my-5 p-5 h-auto" style="background: #f0f0f0">
        <div class="alert alert-danger" role="alert">Внутренняя ошибка сервера, обратитесь к
            администратору
        </div>
    </div>
</div>

<script th:href="@{/bootstrap.bundle.min.js}"></script>
</body>
</html>