<!DOCTYPE html>
<html  xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>Lesson_page</title>
  <link rel="stylesheet" href="https://unpkg.com/flexboxgrid2@7.2.1/flexboxgrid2.min.css">
  <link rel="stylesheet" th:href="@{/style.css}">
  <link rel="stylesheet" media="screen and (max-width:576px) and (min-width:320px)" th:href="@{/style.css}">
</head>
<body>
    <header class="header" th:replace="fragments/fragment :: header">
    </header>
    <main>
        <div class="container" th:object="${topicDto}">
            <div class="row">
                <div class="col-lg-9 col-md-9 col-sm-9 col-xs-9">
                    <div class="row">
                        <div class="lesson_title">
                            <div th:text="${moduleTitle}">Статья о комете Виртанена</div> <!--название урока-->
                        </div>
                    </div>
                    <div class="row">
                        <div class="lesson_title">
                            <div th:text="*{title}">Статья о комете Виртанена</div> <!--название урока-->
                        </div>
                    </div>
                    <div class="row">
                        <div class="text_lesson">
                            <p th:text="*{text}">В коме кометы Виртанена во время ее очередного
                               сближения с Солнцем в 2018 году было необычно
                                много метанола, который, как и водяной пар, сублимировался 
                                не только с ядра кометы, но и из ледяных зерен в коме. 
                                К такому выводу ученые пришли, проанализировав спектрометрические 
                                данные наблюдений за кометой, полученные во время ее сближения с Землей. 
                                Статья опубликована в журнале The Planetary Science Journal.
                            </p>
                            <p class="author_lesson">Александр Войтюк. "N+1"</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
                    <div class="row">
                        <div class="important_block">
                            <p>Какая-то важная информация о чем-то очень важном, например, формулки по физике</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="file_block">
                            <label>Файлы</label>
                            <ul>
                                <li><a href="/pictures/english.jpg" target="_blank">Домашнее задание</a></li>
                                <li><a href="/pictures/math.jpg" target="_blank">Справочные материалы</a></li>
                                <li><a href="/pictures/web-development.jpg" target="_blank">Рабор задач</a></li>
                                <li><a href="/pictures/english.jpg" target="_blank">Домашнее задание</a></li>
                                <li><a href="/pictures/math.jpg" target="_blank">Справочные материалы</a></li>
                                <li><a href="/pictures/web-development.jpg" target="_blank">Рабор задач</a></li>
                                <li><a href="/pictures/english.jpg" target="_blank">Домашнее задание</a></li>
                                <li><a href="/pictures/math.jpg" target="_blank">Справочные материалы</a></li>
                                <li><a href="/pictures/web-development.jpg" target="_blank">Рабор задач</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <footer class="footer_light">
        <div class="container">
            <div class="row">
                <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
                    <div class="comment">
                        <a href="#"><button class="button blue">Комментарий</button></a>
                    </div>
                </div>
                <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
                    <div th:unless="${completed}"  class="ready">
                        <a th:href="@{/courses/{course_id}/modules/{module_id}/complete
                        (course_id=${course_id}, module_id=${module_id}, topic_id=${topicDto.id})}"><button class="button fiolet">Готово!</button></a>
                    </div>
                </div>
                <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
                    <div class="arrows">
                        <div class="row">
                            <a th:href="@{'' (step = ${pref})}"><button class="fiolet"><img src="/pictures/стрелка влево.png"></button></a>
                            <a th:href="@{'' (step = ${next})}"><button class="fiolet"><img src="/pictures/стрелка вправо.png"></button></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
</body>
</html>