<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SignIn</title>
    <link rel="stylesheet" href="https://unpkg.com/flexboxgrid2@7.2.1/flexboxgrid2.min.css">
    <link rel="stylesheet" th:href="@{/style_window.css}">
    <link rel="stylesheet" media="screen and (max-width:576px) and (min-width:320px)" th:href="@{/style_window.css}">
</head>
<body>
   <div class="sign">
        <div class="sign_block сontainer">
            <div class="row">
                <h1>Вход</h1>
            </div>
            <form  method="POST" action="/login">
                <div class="input_sign">
                    <label>Логин</label>
                    <input name="username" type="text" autofocus="true"/>
                </div>
                <div class="input_sign">
                    <label>Пароль</label>
                    <input name="password" type="password"/>
                </div>
                <div class="row" style="justify-content:space-around;">
                    <a th:href="@{/registration}">Регистрация</a>
                    <button class="fiolet" type="submit" >Войти</button>
                </div>
            </form>

        </div>
   </div>
</body>
</html>