<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SignIn</title>
    <link rel="stylesheet" href="https://unpkg.com/flexboxgrid2@7.2.1/flexboxgrid2.min.css">
    <link rel="stylesheet" href="../static/style_window.css">
    <link rel="stylesheet" media="screen and (max-width:576px) and (min-width:320px)" href="../static/style_window.css">
</head>
<body>
   <div class="sign">
        <div class="sign_block сontainer">
            <div class="row">
                <h1>Вход</h1>
            </div>
            <form>
                <div class="input_sign">
                    <label>Логин</label>
                    <input type="text">
                </div>
                <div class="input_sign">
                    <label>Пароль</label>
                    <input type="text">
                </div>
                <div class="row" style="justify-content:space-around;">
                    <a href="sign_up.html">Регистрация</a>
                    <button class="fiolet">Войти</button>
                </div>
            </form>
        </div>
   </div>
</body>
</html>