<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SignIn</title>
    <link rel="stylesheet" href="https://unpkg.com/flexboxgrid2@7.2.1/flexboxgrid2.min.css">
    <link rel="stylesheet" th:href="@{/style_window.css}">
    <link rel="stylesheet" media="screen and (max-width:576px) and (min-width:320px)" th:href="@{/style_window.css}">
</head>
<body>
   <div class="sign">
        <div class="sign_block">
            <div class="row">
                <h1>Регистрация</h1>
            </div>
            <form th:object="${userDto}" th:action="@{/registration}" th:method="post" >
                <div class="input_sign">
                    <label>E-mail</label>
                    <input type="text" th:field="*{email}">
                </div>
                <small class="validation-error" th:if="${#fields.hasErrors('email')}" th:errors="*{email}">WTFyes</small>
                <small class="validation-error" th:if="!${#fields.hasErrors('email')}" th:errors="*{email}">WTFNo</small>
                <div class="input_sign">
                    <label>Пароль</label>
                    <input type="password" th:field="*{password}">
                </div>
                <div class="row" style="justify-content:space-around;">
                    <a th:href="@{/login}">Вход</a>
                    <button class="fiolet" type="submit">Регистрация</button>
                </div>
            </form>
        </div>
   </div>
</body>
</html>