<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{/bootstrap.min.css}">
    <title>Курсы</title>
</head>
<body>
<header th:replace="fragments/header :: header"></header>
<div class="d-flex flex-row justify-content-center min-vh-100" style="background: #1a1e21">
    <div class="w-50 my-5 p-5 h-auto" style="background: #f0f0f0">
        <h1 class="text-center">Пользователи</h1>
        <label class="mt-5">Список пользователей</label>
        <div class="container mt-2">
            <div class="row border border-primary">
                <div class="col p-2">
                    Id
                </div>
                <div class="col p-2">
                    Имя пользователя
                </div>
                <div class="col p-2">
                    Действие
                </div>
            </div>
            <div class="row border border-primary" th:each="user : ${users}">
                <div class="col p-2 " th:text="${user.id}">
                    1
                </div>
                <div class="col p-2 " th:text="${user.username}">
                    Иван
                </div>
                <div class="col p-2 ">
                    <form th:method="delete" th:action="@{/admin/user/{id}(id = ${user.id})}">
                        <button class="btn mt-2" type="submit" style="background: #0dcaf0">Удалить</button>
                    </form>
                    <a class="btn mt-2" th:href="@{/admin/user/{id}(id = ${user.id})}"
                       style="background: #0dcaf0">Редактировать</a>
                </div>
            </div>
            <div class="row border border-primary" th:if="${users.empty}">
                <div class="col p-2 text-center">
                    Пользователей пока нет
                </div>
            </div>
        </div>
    </div>
</div>
<script th:href="@{/bootstrap.bundle.min.js}"></script>
</body>
</html>